In [12]:
#Today we will learn List in this lecture 3 



''' what is list in python ?
ans:- list is one of the  data type in pyton where we can store any thing wheater it is boolean data types, string
 , complex ,tupple , sets, float , intiger everything we can store here in list '''

In [2]:
L=[34.3,45, True , False, 4+ 23j , "suraj kumar" , ' Niraj kumar ' , ' Nisha kumari']

In [1]:
c=[34.3,45, True , False, 4+ 23j , "suraj kumar" , ' Niraj kumar ' , ' Nisha kumari']

In [2]:
type(c)

list

In [3]:
len(c)

8

In [3]:
type(L)

list

In [4]:
# Q) extract the 4+23j from list ?
# ans:- same as we done in previous lec for string (indexing and sclising concept)

In [9]:
L[4]

(4+23j)

In [10]:
L[89]             #list index out of range hai to error aa jayga dhyan me rakho ye sab batten !!

IndexError: list index out of range

In [13]:
# Q) Extract the first 3 data from list ?

[' Nisha kumari',
 ' Niraj kumar ',
 'suraj kumar',
 (4+23j),
 False,
 True,
 45,
 34.3]

In [16]:
L[0:3:1]

[34.3, 45, True]

In [17]:
# Q) Extract the first 2 data from list by using reverse indexing ?

In [21]:
L[2:0:-1]

[True, 45]

In [22]:
#Q) do reversing of list

In [ ]:
o=[34.3,45, True , False, 4+ 23j , "suraj kumar" , ' Niraj kumar ' , ' Nisha kumari']

In [ ]:
o                  # this is permanant reverse of the list and by using -ve indexing we can do only temporary indexing

In [11]:
o.reverse()

In [12]:
o

[' Nisha kumari',
 ' Niraj kumar ',
 'suraj kumar',
 (4+23j),
 False,
 True,
 45,
 34.3]

In [23]:
L[::-1]

[' Nisha kumari',
 ' Niraj kumar ',
 'suraj kumar',
 (4+23j),
 False,
 True,
 45,
 34.3]

In [24]:
#Q) extract the data from list standing on even number ?

In [25]:
L[::2]

[34.3, True, (4+23j), ' Niraj kumar ']

In [26]:
# we cannot add list and string

In [27]:
r= 'suraj'

In [28]:
r +L

TypeError: can only concatenate str (not "list") to str

In [29]:
# bohot se log soch rahe honge ki string ko list function ki madad se list me convert kar ke add kar denge 
# dekho ho to jayega lekin list function kya karega n ki string ko alag alag character me tod dega jaisa ki aap dekh sakte ho

In [30]:
list(r)

['s', 'u', 'r', 'a', 'j']

In [31]:
# now add

In [32]:
L+ list(r)

[34.3,
 45,
 True,
 False,
 (4+23j),
 'suraj kumar',
 ' Niraj kumar ',
 ' Nisha kumari',
 's',
 'u',
 'r',
 'a',
 'j']

In [33]:
# or add in reverse direction

In [34]:
list(r) + L

['s',
 'u',
 'r',
 'a',
 'j',
 34.3,
 45,
 True,
 False,
 (4+23j),
 'suraj kumar',
 ' Niraj kumar ',
 ' Nisha kumari']

In [1]:
l=[34.3,45, True , False, 4+ 23j , "suraj kumar" , ' Niraj kumar ' , ' Nisha kumari', 'shubham kumar']

In [2]:
l

[34.3,
 45,
 True,
 False,
 (4+23j),
 'suraj kumar',
 ' Niraj kumar ',
 ' Nisha kumari',
 'shubham kumar']

In [5]:
l[5]

'suraj kumar'

In [10]:
l[5][::5]

's r'

In [12]:
str(l[2])           # here boolean data tupe is converted into string data type

'True'

In [13]:
str(l[2])[::-1]

'eurT'

In [14]:
l+l            # so here we have done a mathematical operation list to list but we cannot do list to string mathematical operation or list to intiger

[34.3,
 45,
 True,
 False,
 (4+23j),
 'suraj kumar',
 ' Niraj kumar ',
 ' Nisha kumari',
 'shubham kumar',
 34.3,
 45,
 True,
 False,
 (4+23j),
 'suraj kumar',
 ' Niraj kumar ',
 ' Nisha kumari',
 'shubham kumar']

In [15]:
list + 5       # jaise ki maine apko pahle hi bola tha aur aap dekh sakto ho error aa gaya

TypeError: unsupported operand type(s) for +: 'type' and 'int'

In [18]:
l1=[1,2,3,4,5]

In [22]:
l2=[1,2,3,4,5]

In [23]:
l2

[1, 2, 3, 4, 5]

In [19]:
l1

[1, 2, 3, 4, 5]

In [20]:
l1+l

[1,
 2,
 3,
 4,
 5,
 34.3,
 45,
 True,
 False,
 (4+23j),
 'suraj kumar',
 ' Niraj kumar ',
 ' Nisha kumari',
 'shubham kumar']

In [21]:
# find the no. of element in (l1+ l)?

In [23]:
len(l1+l)

14

In [25]:
l

[34.3,
 45,
 True,
 False,
 (4+23j),
 'suraj kumar',
 ' Niraj kumar ',
 ' Nisha kumari',
 'shubham kumar']

In [5]:
c

[34.3,
 45,
 True,
 False,
 (4+23j),
 'suraj kumar',
 ' Niraj kumar ',
 ' Nisha kumari']

In [6]:
# as we have seen that we cannot do mathmatical operation between list and intiger function ( but we can do addition in  it by using "append function" )

In [7]:
# see you can see the example here below this

In [14]:
c.append(23)                  #  here i am adding 23 to list c 
                              
                                # but note this point that append add at last and not in starting or in middle

In [15]:
c

[34.3,
 45,
 True,
 False,
 (4+23j),
 'suraj kumar',
 ' Niraj kumar ',
 ' Nisha kumari',
 23,
 23,
 23,
 2,
 2,
 23]

In [16]:
 # so here i got 23 thrice time added and 2 twice time added and then one more 2 added in the last of the list this happen because i hv appended so many times but here not shown

In [18]:
b="suraj kumar Binod Prasad"

In [19]:
c.append(b)            # here i have added string to list c lets see what is the result

In [20]:
c                  # see you can see in output of the list the last word is suraj kumar binod prasad i.e 'b' is printed at the end of the list

[34.3,
 45,
 True,
 False,
 (4+23j),
 'suraj kumar',
 ' Niraj kumar ',
 ' Nisha kumari',
 23,
 23,
 23,
 2,
 2,
 23,
 'suraj kumar Binod Prasad']

In [24]:
# Q) can we add list inside list ?

In [25]:
# ans :- let us see

In [26]:
c.append(l2)

In [27]:
c

[34.3,
 45,
 True,
 False,
 (4+23j),
 'suraj kumar',
 ' Niraj kumar ',
 ' Nisha kumari',
 23,
 23,
 23,
 2,
 2,
 23,
 'suraj kumar Binod Prasad',
 [1, 2, 3, 4, 5]]

In [28]:
# so here at the end you can see the result

In [29]:
# now can you show us to print 2 from the list c  ?

In [31]:
c[-1][1]

2

In [32]:
# now can you show us to print 3 from the c ka list ?

In [33]:
c[-1][-3]

3

In [34]:
#  what is extend function?

In [35]:
c

[34.3,
 45,
 True,
 False,
 (4+23j),
 'suraj kumar',
 ' Niraj kumar ',
 ' Nisha kumari',
 23,
 23,
 23,
 2,
 2,
 23,
 'suraj kumar Binod Prasad',
 [1, 2, 3, 4, 5]]

In [36]:
c.extend("suraj")

In [37]:
c                     # as you can see suraj is added in the list c par pura tod tod ke add kiya hai matlab uska itratin kar ke ( itreable matlab vahi jisme data ke andar data ho )

[34.3,
 45,
 True,
 False,
 (4+23j),
 'suraj kumar',
 ' Niraj kumar ',
 ' Nisha kumari',
 23,
 23,
 23,
 2,
 2,
 23,
 'suraj kumar Binod Prasad',
 [1, 2, 3, 4, 5],
 's',
 'u',
 'r',
 'a',
 'j']

In [38]:
# but when we will go to add intiger we will get error

In [39]:
c.extend(23)

TypeError: 'int' object is not iterable

In [40]:
# qnki intigers are not iterable

In [41]:
# the difference beween append and extend is append as it is add kar deta  hai data ko whereas extend pahle agar string hoga to use unwrap karega character me aur fir use add karega agar list hai to use bhi unwrap karegg and then add karega

In [42]:
# what if i want to add data in my deasirable palce matlab ki first position pe dalna hai ua 3rd pe ya  fifth me fir kaise karenge to uske liye ek function atta hai name  as"  insert(a,b) "       jisme a = jahan pe dalna hai uska positionn ka name and b = jo bhi value put karni hai vo
# note :- using insert function you can add string as well as intiger , float , complex too!.

In [43]:
c

[34.3,
 45,
 True,
 False,
 (4+23j),
 'suraj kumar',
 ' Niraj kumar ',
 ' Nisha kumari',
 23,
 23,
 23,
 2,
 2,
 23,
 'suraj kumar Binod Prasad',
 [1, 2, 3, 4, 5],
 's',
 'u',
 'r',
 'a',
 'j']

In [44]:
# if i want to add 67  in first postion of list then

In [45]:
c.insert(0,67)

In [46]:
c               # you can see the result

[67,
 34.3,
 45,
 True,
 False,
 (4+23j),
 'suraj kumar',
 ' Niraj kumar ',
 ' Nisha kumari',
 23,
 23,
 23,
 2,
 2,
 23,
 'suraj kumar Binod Prasad',
 [1, 2, 3, 4, 5],
 's',
 'u',
 'r',
 'a',
 'j']

In [47]:
 # if i want to add sunny at the 10 th position tehn

In [48]:
c.insert(10,"sunny")

In [49]:
c

[67,
 34.3,
 45,
 True,
 False,
 (4+23j),
 'suraj kumar',
 ' Niraj kumar ',
 ' Nisha kumari',
 23,
 'sunny',
 23,
 23,
 2,
 2,
 23,
 'suraj kumar Binod Prasad',
 [1, 2, 3, 4, 5],
 's',
 'u',
 'r',
 'a',
 'j']

In [50]:
# now see one controvsial thing what if i consider -ve indexing let cosdir -1

In [51]:
c.insert(-1,"NIRAJ")

In [52]:
c             # here you can see NIRAJ is added to -1 postion only but j is shifted toward to right matlb hamlog koi bhi value add kare vahan pe pahle se maujud value right side me shift ho hati hai yaad rakhna

[67,
 34.3,
 45,
 True,
 False,
 (4+23j),
 'suraj kumar',
 ' Niraj kumar ',
 ' Nisha kumari',
 23,
 'sunny',
 23,
 23,
 2,
 2,
 23,
 'suraj kumar Binod Prasad',
 [1, 2, 3, 4, 5],
 's',
 'u',
 'r',
 'a',
 'NIRAJ',
 'j']

In [53]:
# now how to remove any data from lsit then use pop function 
# pop()  function is use to remove and return item at index..............
# see if you not write any index value in the bracket it will consider last wala  or we can say (-1 th index) by default........

In [54]:
c.pop()

'j'

In [55]:
c.pop()

'NIRAJ'

In [56]:
c.pop()

'a'

In [57]:
c.pop()

'r'

In [58]:
c.pop()

'u'

In [59]:
c.pop()

's'

In [60]:
c.pop()

[1, 2, 3, 4, 5]

In [61]:
# so here you can see that pop function by default last wale data ko nikalte ja raha hai

In [62]:
# now our list c is got  reduce to               see downsdie ......

In [63]:
c

[67,
 34.3,
 45,
 True,
 False,
 (4+23j),
 'suraj kumar',
 ' Niraj kumar ',
 ' Nisha kumari',
 23,
 'sunny',
 23,
 23,
 2,
 2,
 23,
 'suraj kumar Binod Prasad']

In [65]:
c.pop(10)

'sunny'

In [66]:
c.pop(10)

23

In [67]:
c.pop(10)

23

In [68]:
c.pop(10)

2

In [69]:
c.pop(10)

2

In [70]:
c.pop(10)

23

In [71]:
c.pop(10)

'suraj kumar Binod Prasad'

In [73]:
c.pop(5)

(4+23j)

In [75]:
c.pop(5)

'suraj kumar'

In [76]:
# now our list is reduced to

In [77]:
c

[67, 34.3, 45, True, False, ' Niraj kumar ', ' Nisha kumari', 23]

In [79]:
# one more function is there i.e 'remove' function is use to remove the value which you want to remove you just enter the vlue in the bracket then it will be removed
# see how

In [83]:
c.remove(45)

In [84]:
c

[67, 34.3, True, False, ' Niraj kumar ', ' Nisha kumari', 23]

In [85]:
c.remove(True)

In [92]:
c

[67, 34.3, False, ' Niraj kumar ', ' Nisha kumari', 23]

In [95]:
c.append([2,3,4])

In [96]:
c

[67, 34.3, False, ' Niraj kumar ', ' Nisha kumari', 23, [2, 3, 4]]

In [87]:
# see what if we want to remove 3 from  [2,3,4]   then ?
# see we cannot remove directly but we will have to do in some steps as you can see below i have done it!!

In [97]:
c[-1]

[2, 3, 4]

In [98]:
c[-1].remove(3)

In [99]:
c            # hecne we have susscefully removed the 3 from list

[67, 34.3, False, ' Niraj kumar ', ' Nisha kumari', 23, [2, 4]]

In [100]:
# Q) what is the differnce between c[::-1] and c.reverse() ?
# see  in both case our list is got  reverse but c[::-1] it reverse temporary and by using reverse function we reversed it permantly .

In [13]:
# now one new fuction we will study i.e sort which the intigers present in list will be arranged in ascending order 
# but note only intiger should be present there and not string and list ........... below see the example ......!!

In [14]:
t3=[2,98,56,74,23,41,14,56,68,90,99,88,77,66,34,]

In [15]:
t3.sort()

In [16]:
t3             # so here is the result

[2, 14, 23, 34, 41, 56, 56, 66, 68, 74, 77, 88, 90, 98, 99]

In [ ]:
  # but what if we sort the mixture of list ans string and intiger

In [17]:
t4=[34,24,25,12,1,2,3,7,8,9,90,99,78,[5,6,5,4,4],'suraj', 'niraj']

In [18]:
t4.sort()                # here you can see the error as expected

TypeError: '<' not supported between instances of 'list' and 'int'

In [1]:
l5=["suraj","sudhanshu sir", "suraj kumar", "krish naik sir"]

In [2]:
l5

['suraj', 'sudhanshu sir', 'suraj kumar', 'krish naik sir']

In [4]:
l5.sort()

In [5]:
l5

['krish naik sir', 'sudhanshu sir', 'suraj', 'suraj kumar']

In [6]:
l5.sort(reverse=True)       #with he help of this we have sorted the string in descending order means by using reverse=True

In [8]:
l5

['suraj kumar', 'suraj', 'sudhanshu sir', 'krish naik sir']

In [9]:
l5

['suraj kumar', 'suraj', 'sudhanshu sir', 'krish naik sir']

In [13]:
l5.index('suraj')            #index fuction is used to find the position of any value in list it will tell its index value

1

In [15]:
l5.count('suraj kumar')          #count function will tell the occurance of that string or anything it may be (kitne baar hai likha hua hai)

1

In [16]:
l5

['suraj kumar', 'suraj', 'sudhanshu sir', 'krish naik sir']

In [17]:
b='siddhi'     # can you replace "i" of last one with "u"  let see kar ke dekhte hai

In [19]:
b[-1] = 'u'       # so we cannot do

TypeError: 'str' object does not support item assignment

In [21]:
l1=[1,2,3,4,5,6]

In [22]:
l1

[1, 2, 3, 4, 5, 6]

In [23]:
# can you replace 2 with 20 let see kar ke dekhte hai

In [26]:
l1[1] = 20

In [27]:
l1           #so as we can see that kaam ho gya

[1, 20, 3, 4, 5, 6]

In [28]:
# to ek baaat to clear ho gayi ki string object does not support item assignment (immutable) whereas list  support item assignment (mutable)

In [29]:
# but by using function replace(  ,  ) we can do these manuoulation in string also you can see downside

In [30]:
b

'siddhi'

In [33]:
  b.replace('i','u')                   # here i have replace i with u 
                                       #one thing a very important thing is this replace hoke jo naya word tyar hua vo new memory 
                                     # location me hua na ki usi me as like we as done while assinging with list

'suddhu'

In [34]:
# ################  Tuples  ###########################

In [35]:
# what is tuple ?

# ans :- tuple is same as list(a collection of elements) the only differece is that tuples are not mutable as like list and also in tuple we put everyting in round bracket and in list we put everyting n square bracket 
           # you can see the example here downside

In [36]:
g=(23,45,67+23j,26,58,"suraj",454,"niraj",[2,4,'red',5,6+34j],"nisha")

In [37]:
type(g)

tuple

In [39]:
len(g)

10

In [40]:
g.count(45)

1

In [41]:
#see here we can do all thing which we were able to do in list but the only thing is manupulate nahi kar sakte bss 
# but the thing is only two fuction are only their for tuple that is index and count

In [43]:
g[6]=67           # see eror got

TypeError: 'tuple' object does not support item assignment

In [44]:
# these tuple is used to keep password safe so that no can manipulate it

In [46]:
z={}          # this is actually a dictionary because it is blank if we put anything inside it , it will show the tpype set

In [47]:
type(z)

dict

In [48]:
z={3,2,4,5,5,67.7,65,"suraj","siddhi", "i love siddhi" , (4,3,5,6,7.789, "suraj " , "siddhi" "vaje") }

In [49]:
z

{(4, 3, 5, 6, 7.789, 'suraj ', 'siddhivaje'),
 2,
 3,
 4,
 5,
 65,
 67.7,
 'i love siddhi',
 'siddhi',
 'suraj'}

In [50]:
# note set's are the collection of immutable object it means it cant contain list which are mutable but can contian tuple which are immutable

In [51]:
type(z)

set

In [ ]:
# what is the use of set ?
ans:- it provedes you unique object means it remove all the repetative element

In [52]:
n1={1,2,34,5,1,1,1,2,34,43,5,2,34,7,8,9,99,2,1,34,99,7,8,}

In [53]:
n1              # you can see here you got the unique element i.e no repetative element are here 
              # set is collection of unorded unique collection

{1, 2, 5, 7, 8, 9, 34, 43, 99}

In [54]:
# note one thing that unlike list,tupple, list you can't do indexing and sclising of set

In [55]:
z.add(330)

In [57]:
z

{(4, 3, 5, 6, 7.789, 'suraj ', 'siddhivaje'),
 2,
 3,
 330,
 4,
 5,
 65,
 67.7,
 'i love siddhi',
 'siddhi',
 'suraj'}

In [58]:
type(z)

set

In [61]:
z.remove(65)

In [62]:
z

{(4, 3, 5, 6, 7.789, 'suraj ', 'siddhivaje'),
 2,
 3,
 330,
 4,
 5,
 67.7,
 'i love siddhi',
 'siddhi'}

In [64]:
z.remove('siddhi')

In [65]:
z

{(4, 3, 5, 6, 7.789, 'suraj ', 'siddhivaje'),
 2,
 3,
 330,
 4,
 5,
 67.7,
 'i love siddhi'}

In [ ]:
# notes of list and tuppple and sets:-

# In Python, lists, tuples, and sets are all different types of data structures used to store collections of items, but they have different characteristics and uses.

# 1. Lists:
#    - Ordered collection of items.
#    - Mutable: You can add, remove, or modify elements.
#    - Created using square brackets ([]).
#    - Common operations include indexing, slicing, appending, extending, removing, and looping through elements.

# 2. Tuples:
#    - Similar to lists but immutable: Once created, you can't change the elements.
#    - Ordered collection of items.
#    - Created using parentheses ().
#    - Useful for representing fixed collections of items, such as coordinates or database records.
#    - Common operations include indexing and slicing.

# 3. Sets:
#    - Unordered collection of unique items.
#    - Mutable: You can add or remove elements, but you can't modify individual elements.
#    - Created using curly braces ({}) or the set() function.
#    - Useful for tasks that involve checking for membership, intersection, union, or difference between collections.
#    - Common operations include adding, removing, checking membership, and set operations like union, intersection, and difference.

# In learning about these data structures, you'll understand their properties, when to use each one, and how to effectively manipulate and utilize them in Python programs.